<html ng-app="phonecatApp">
<head>
  
  <script src="js/angular.js"></script>
  <script src="app/js/controller.js"></script>
  
  <title ng-bind-template="Google Phone Gallery: {{query}}">Google Phone Gallery</title>
  
</head>
<body ng-controller="PhoneListCtrl">

<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!--Sidebar content-->

        Search: <input ng-model="query">

      </div>
      <div class="col-md-10">
        <!--Body content-->

        <ul class="phones">
          <li ng-repeat="phone in phones | filter:query">
            {{phone.name}}
            <p>{{phone.snippet}}</p>
          </li>
        </ul>

      </div>
    </div>
  </div>

</body>
</html>