<html ng-app="phonecatApp">
<head>
  
  <script src="js/angular.js"></script>
  <script src="app/js/controller.js"></script>
  
  <title ng-bind-template="Google Phone Gallery: {{query}}">Google Phone Gallery</title>
  
</head>
<body ng-controller="PhoneListCtrl">

Search: <input ng-model="query">
  Sort by:
  <select ng-model="orderProp">
    <option value="name">Alphabetical</option>
    <option value="age">Newest</option>
  </select>


  <ul class="phones">
    <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
      <span>{{phone.name}}</span>
      <p>{{phone.snippet}}</p>
    </li>
  </ul>

</body>
</html>